* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FBF4F4;
    overflow-x: hidden;
}

.background {
    width: 100vw;
    position: absolute;
    height: 24vh;
    background: rgb(255,235,235);
    background: linear-gradient(86deg, rgba(255,235,235,1) 1%, rgba(243,132,132,1) 47%, rgba(210,90,90,1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.background img {
    width: 11%;
    margin: -1% 0% 0% 20%;
}


/****Dashboard*****/

.admin_main .total-result {
    padding: 125px 0px 0px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_main .total-result .staff {
    width: 23%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    background-color: #FCF6F6;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px 20px 5px;
    border-radius: 5px;
    margin: 0% 0% 0% 5%;
}


/*****Booking*****/

.booking-box {
    padding: 0px 0px 20px 0px;
    margin: 10% 0% 0% 24%;
    border-radius: 5px;
    background-color: #FCF6F6;
    height: 70%;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 69.3%;
}

.booking-box h4 {
    border-bottom: 1px solid #CCCCCC;
    padding: 15px 0px 15px 20px;
    color: #1c1c1c;
    font: normal 600 17px/normal 'Poppins';
    border-radius: 5px 5px 0px 0px;
}

table {
    border-collapse: collapse;
    width: 93%;
    margin: 30px 25px 0px 35px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}