*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
.homepage_main {
    width: 100%;
    background-color: #f0f0f0;
}
.main-content {
    width: 100%;
    height: 50%;
}
.image-content {
    height: 50%;
}
.image-content img {
    max-width: 100%; 
    height: 10%;
    margin-top: 3.5%;    
}
.image-content::before{
    content: '';
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    background-blend-mode:darken;
    margin-top: 5.6%;    

}