*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverpage {
    width: 100%;
}

.cover-content {
    position: relative;
    width: 100%;
    
}

.coverpage img {
    width: 100%;
    height: 10%;
    filter: brightness(50%);
}

.text {
    position: absolute;
    top: 44%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 45%;
    color: white;
}

.text h2 {
    font: normal 700 50px/normal 'Poppins';
    letter-spacing: 3px;
}

.button  {
    margin: 30px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    height: 40px;
    width: 15%; 
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    background-color: #FBF4F4;
    border-radius: 30px;
}
.button:hover {
    background-color: #454548;
    color: #fcfcfc;
}



/**** Portfolio Section *****/

.portfolio .portfolio-title .horizontal-line1{
    position: absolute;
    width: 30%;
    height: 3px;
    background: black;
    left: 70px;
}
.portfolio .portfolio-title .horizontal-line2{
    position: absolute;
    width: 30%;
    height: 3px;
    background: black;
    left: 65%;
}
.portfolio {
    width: 100%;
    background-color: #FBF4F4;
    padding: 70px 0px 50px 0px;
    text-align: center;
}

.portfolio .portfolio-title {
    margin-bottom: 30px;
}

.portfolio .portfolio-title h2 {
    font: normal 700 27px/normal 'Poppins';
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 117%;
}


.portfolio .box-section{
    width: 100%;
    height: 30%;
    background:#FBF4F4;
    padding: 40px 120px 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio .box1{
    background: #454548;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}
.portfolio .box2{
    background: #393e46;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}
.portfolio .box3{
    background: #454548;
    width: 25%;
    height: 65vh;
    margin-left: 80px;
}
.portfolio .box1 .box4{
    background: white;
    width: 100%;
    height: 65vh;
    margin-left:-10px;
    margin-top: -9px;
}
.portfolio .box2 .box5{
    background:white;
    width: 100%;
    height: 65vh;
    margin-left: -9px;
    margin-top: -9px;

}
.portfolio .box3 .box6{
    background: white;
    width: 100%;
    height: 65vh;
    margin-left: -10px;
    margin-top: -9px;
}
.box4 .portfolio-content1 img{
    width: 85%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
}
.box5 .portfolio-content2 img{
    width: 84%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
}
.box6 .portfolio-content3 img{
    width: 85%;
    height: 46vh;
    margin: 30px 10px 30px 10px;
    filter: brightness(85%);
}
.box-section .box4 .portfolio-content1 h2{
    font: normal 20px/normal 'Poppins';
}

.box5 .portfolio-content2 h2{
    font: normal 20px/normal 'Poppins';
}

.box6 .portfolio-content3 h2{
    font: normal 20px/normal 'Poppins';
}






/**** Services Price Section *****/

.services{
    width: 100%;
    background-color: #D9D9D9;
    padding: 70px 0px 70px 0px;
    text-align: center;
}
.services .services-title h2{
    font: normal 700 36px/normal 'Poppins';
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 217%;
}
.services .services-title h6{
    font: normal  17px/normal 'Poppins';
    letter-spacing: 1px;
    position: absolute;
    text-align: left;
    width: 70%;
    top: 227%;
    left: 105px;
}

.services .services-box-section{
    width: 100%;
    height: 50%;
    background: #D9D9D9;
    padding: 130px 90px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services .service-box{
    background: #1B1212;
    width: 100%;
    height: 47vh;
    margin-left: 70px;
    border-radius: 10px;
}

.services .button-services-section {
    margin: 50px 0px 0px 30px;
    padding: 5px 0px 5px 0px;
    height: 40px;
    width:10%; 
    font: normal 400 15px/normal 'Poppins';
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color 0.3s;
    border: none;
    background-color: #FBF4F4;
    border-radius: 30px;
}
.services .button-services-section:hover {
    background-color: #454548;
    color: #fcfcfc;
}



/**** Review Page ****/
.review {
    width: 100%;
    height: auto; 
    background: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .review-part {
    display: flex;
    width: 100%;
  }
  
  .review-left {    
    width: 30%;
    flex: 1; 
    padding: 10px 0px 0px 30px; 
    box-sizing: border-box; 
  }
  
  .review-left img {
    width: 80%;
    height: 85vh;
    max-width: 100%; 
    display: block;
    margin-left: 100px;
  }
  
  .review-right {
    flex: 1; 
    padding: 80px 0px 0px 10px; 
    box-sizing: border-box;
  }
  

  
.review .review-right .testimonial h5{
    color: #1C1C1D;
    font: normal 500 23px/normal 'Poppins';
    width: 232px;
    height: 59px;
    flex-shrink: 0;
}
.review .review-right .testimonial h4{
    color: #1C1C1D;
    font-size: 35px;
    width: 85%;
    height: 59px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 30px;
}

.review .review-right .testimonial p{
    color: #1C1C1D;
    font-family: Poppins;
    font: normal 15px/normal 'Poppins';
    width: 90%;
    height: 59px;
    margin-top: 35px;
    flex-shrink: 0;
    text-align: justify;
    margin: 60px 0px 0px 10px;
    line-height: 30px;
}












/*****Responsive*

@media screen and (max-width: 768px) {
	section {
		height: 100vh;
	}
}
****/